

.buttonhover:hover p {
  color:#0062E1;  
  
}

.backLinear {
  background-image: linear-gradient(to bottom, rgba(0, 98, 225, 0.7),#0062E1);
}

.iconanimation:hover{
  border-bottom:4px solid #0062E1;
}

.iconanimation:hover svg {
  fill: #0062E1;
}

.iconanimation:hover p {
  color:#0062E1;  
  font-weight: 800;
}

.latestbutton{
  display:flex;
  width:40px;
  height: 40px;
  border: 1px solid #F5D410;
  padding:15px;
}

.latestbutton span {
  display: none;
}

.latestbutton:hover {
  width:150px;
  background-color: "#F5D410";
}

.latestbutton:hover span {
  display: inline-block;
}